{%extends 'partnerBase.html'%}
{%block content%}
<div class ="mx-1">
    <h2 >Receive Merchandize Supplier</h2>


  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <!-- search supplier -->
        <form method="get">
            {% csrf_token %}
                {{form.as_p}}
                
                <button type="submit" class="btn btn-primary">Search</button>
              
            </form>
            <!-- search results -->
            <p></p>
            <div>
              <table class="table table-success">
                <caption>Search Results</caption>
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">KRA Pin</th>
                    <th scope="col">Select</th>

             
                   
                    
                  </tr>
                </thead>
                <tbody>
                  {% for sup  in  supplierResult  %}
                  <tr>
                    <td scope="row">{{sup.supplier_name }}</td>
                    <td scope="row">{{sup.supplier_email_address}}</td>
                    <td scope="row">{{sup.supplier_phone_number}}</td>
                    <td scope="row">{{sup.supplier_kra_pin}}</td>
                    <td><a href="?supplier_id={{sup.id}}" type="button" class="btn btn-primary">Add</a></td>
                    
                  </tr>
                  {% empty %}
                  <tr><td colspan="5">Currently no Data Available</td></tr>
                  {%endfor%}
                 
                </tbody>
              </table>
            </div> 
      </div>

      <div class="col">
        <!-- supplier for the product -->
        <div>
          <table class="table table-primary">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Kra Pin</th>

         
               
                
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <td scope="row">{{receivedSupplier.supplier.supplier_name }}</td>
                <td scope="row">{{receivedSupplier.supplier.supplier_email_address}}</td>
                <td scope="row">{{receivedSupplier.supplier.supplier_phone_number}}</td>
                <td scope="row">{{receivedSupplier.supplier.supplier_kra_pin}}</td>
                
              </tr>
              {% if empty %}
              <tr><td colspan="5">Currently no Data Available</td></tr>
              {% endif %}
             
            </tbody>
          </table>
        </div> 
         <!-- receive products -->
        <a href="{%url 'receiveMerchandizeProduct_url' %}" type="button" class="btn btn-primary">Receive Items</a>
      </div>
     
    </div>


    </div>
</div>

{%endblock%}   


